<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="alltest">
<parameter name="username" value="Shyedhu" />
<parameter name="pass" value="123456" />
    <test name="LoginTest">
        <classes>
            <class name="com.shyedhu.automation.tests.LoginTest"/>
             <class name="com.shyedhu.automation.tests.RegisterTest"/>
        </classes>
    </test>
</suite>